@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 10px;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    box-sizing: border-box; 
}

:root{
    --primary-color:white;
    --sub-primary-color: rgb(198, 198, 198);
    --secondary-color: coral;
    --secondary-darker: rgb(205, 86, 42) ;
    --var-bg-color: #020024;
    --subheading-size: 50px;
    
    --text-shadow: 0px 4px 5px #000000;

    --transition-speed: 200ms ease-in;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-color: var(--var-bg-color);
    background-image: url(images/bg-texture.png); */
    scroll-behavior: smooth;
    background-color: #000929;
}
section {
    display:block;
    height: 125vh;
    width: 100vw;
    padding: 20px 100px 150px;
}

::selection {

  }

.hero{
    background: url(images/citybg.jpg) no-repeat center center/cover fixed;
    height: 115vh;
}


.info p{
    line-height: 30px;
}

nav {
    font-size: 20px;
    width: 100vw;
    height: 55px;
    /* background-color: var(--var-bg-color); */
    background-color: black;
    position: fixed;
    z-index: 10;
    padding-left: 100px;
    padding-right: 100px;
    /* background-image: url(images/bg-texture.png); */
    /* box-shadow: 0px 5px 10px #000000b7 ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-speed);

}   

.logo-container{
    color: var(--secondary-darker);
    font-weight: 500;
    font-size: 25px;
    /* display: none; */
    text-align: center;
}

.logo-container a{
    color: var(--secondary-darker);
    text-align: justify;
}

.logo-container a:hover{
    color: var(--secondary-color);
}

.logo{
    height: 50px;
    width: auto;
    /* outline: 2px solid red; */
} 

ul {
    display: flex;
    justify-content: space-around;
    /* outline: 2px solid red; */
}

li {
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-speed);
    padding: 0px 30px;
    
}

a{
    font-style: none;
    color: var(--sub-primary-color);
    transition: var(--transition-speed);
}

ul li a:hover, ul li a:focus{
    color: var(--primary-color);
    /* text-shadow: var(--text-shadow); */
}
/*-----SCROLLBAR--------*/

::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sub-primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(92, 92, 92);
}


h1 {
    font-size: 100px;
    margin: 0;
    color: var(--primary-color);

}

h2 {
    font-size: 50px;
    color: var(--primary-color);
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}
.highlighted-text{
    color: var(--secondary-darker);
}

.title{
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.704);
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
   
    
}

.hero-text {

}

.button {
    width: 200px;
    height: 55px;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    border: 3px solid var(--secondary-color);
    overflow: hidden;
    transition: var(--transition-speed);
    
}

.button a{
    color: var(--primary-color);
}

.button:hover {
    background-color: var(--secondary-color);
    border: 3px solid transparent;
    cursor: pointer;
}

.button:active{
    background-color: var(--secondary-darker);
    border: 3px solid transparent;
}

button{
    all: unset;
    cursor: pointer;
    color: var(--primary-color);
}

.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;

}

.social svg{
    fill: var(--sub-primary-color);
}

.social svg:hover{
    fill: var(--primary-color);
    transition: var(--transition-speed);
}

/*------------ABOUT ME SECTION--------------*/
.sub-section {
    padding-top: 20vh;
    display: flex;
    justify-content: left;
    height: 100vh;
    align-items: center;
    margin-top: 10vh;
    
    /* outline: white 3px solid; */
}

.information{

}

.headshot-container{
    
}

.headshot {
    object-fit: cover;
    height: 500px;
    width: 370px;
    border-radius: 25px;
    /* border: 5px solid var(--sub-primary-color); */
    margin-left: 30px;
    transition: var(--transition-speed);
    flex-basis: 20%;

}
.information{
    flex-basis: 80%; 
    padding-right: 70px;
}

.headshot:hover {
    filter: var(--secondary-color);
    box-shadow: 0px 0px 12px 2px var(--secondary-color);
    transform: scale(1.04);
}

.information h2 {
    line-height: 30px;
    text-align: left;
}

.skills{
   display: flex; 
   justify-content: space-between;
   text-align: center;

}
.skills img{
    object-fit: cover;
    height: 60px;
    width: auto;
}


h3{
    font-size: 20px;
    color: var(--secondary-color);
}
.main-text{
    line-height: 4rem;
    font-size: 20px;
    font-weight: 350;
    text-align: left;
}

.information p{
    color: var(--sub-primary-color);

    
   
}

.divider{
    height: 3px;
    background-color: var(--sub-primary-color);
    border: none;
    border-radius: 5px;
    width: auto;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 100px 10px 100px;
    /* outline: red 1px solid; */
    margin-top: 10vh;
    height: auto;
}

.sub-section-alternative h2 {
    font-size: var(--subheading-size);
    line-height: 15px;
    text-align: left;

}

hr{
    width:100%;
    height: 3px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    /* border-bottom: 2px solid white; */
    margin: 0;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.project-container::-webkit-scrollbar-track {
    display: none;
  }

::-webkit-scrollbar-thumb {
    background-color: var(--sub-primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#website-project{
    order: 4;
}

#zoom-project{
    order: 2;
}

#ebay-project{
    order: 1;
}

#-project{
    order: 9;
}

.project-card {
    width: 600px;
    height: 426px;
    margin-top: 30px;
    border-radius: 25px 25px 25px 25px;
    transition: var(--transition-speed);
    overflow-y: hidden;
    margin-bottom: 40px;
    color: var(--sub-primary-color);
    background-color: black;
}

.project-card:hover{
    box-shadow: 0px 0px 12px 2px var(--secondary-color);
    transform: scale(1.04);
    color: var(--primary-color);
    /* background-color: var(--secondary-darker); */
} 

.description-container{
    background-color: black;
    height: 130px;
    padding: 15px;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: hidden;
    transition: var(--transition-speed);

}

.project-title{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 3rem;
    color:var(--secondary-color)
}

.description-container .main-text{
    line-height: 3rem;
    font-size: 15px;
    text-align: center;
}

.image-conatiner{
    width: 100%;
    transition: var(--transition-speed);
}

.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}

/*------------FOOTER/CONTACT SECTION--------------*/
    
footer {
    padding: auto;
    height: 3   0vh;
    padding: 0px 0px 30px ;
    margin-top: 10vh;
    /* outline: red 2px solid; */
    

}
.footer-container{
    transform: translateY(-200px);
    text-align: center;
    padding: 300px;
    margin: auto;
    height: auto;
    /* outline: yellow 2px solid; */
}

.intro-p{
    color: var(--secondary-color);
    margin: 0px;
}

footer h2{
    color: var(--primary-color);
    margin: 0px;
    display: flex;
    justify-content: center;


}

footer .main-text{
    text-align: center;
    margin-bottom: 25px;
    color: var(--sub-primary-color);
}

.footer-button{
    width: auto;
    height: 55px;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    border: 3px solid var(--secondary-color);
    overflow: hidden;
    transition: var(--transition-speed);
    margin: 0 auto;
}

.footer-button:hover{
    background-color: var(--secondary-color);
    border: 3px solid transparent;
    cursor: pointer;
}

.footer-button:active{
    background-color: var(--secondary-darker);
    border: 3px solid transparent;
}

.footer-socials{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}



@media only screen and (max-width: 1000px){ 

    section {
        padding: 0px 10px 100px;
        overflow: hidden;
    }

    .hero-area {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        
        
    }
    .hero-text{
        margin: auto;
        flex-basis: 100%;
        
    }
    .hero-text h1{
        font-size: 100px;
        line-height: auto;
        
    }

    nav{
        display: none;
    }

    .information p{
        color: var(--sub-primary-color);
        line-height: 50px;
        font-size: 25px;
    }
    .title{
        font-size: 30px;
        font-weight: 300px;
        padding-bottom: 40px;
    }

    .button{
        margin: auto;
    }
    .socials{
        display: none;
    }
 /*--------ABOUT ME SECTION--------*/
    .sub-section {
        flex-wrap: wrap;
        padding: 100px 60px;
        height: 100vh;
        text-align: center;
        height: auto;
    }

    .sub-section > h2{
        text-align: center;
    }


    .information{
        /* flex-basis: 100%; */
        text-align: center;
        order: 1;
    }

    .headshot-container{
        margin: auto;
        order: 0;
    }

    
    .information p{
        font-size: 20px;
        text-align: center;
    }

    /*-----PROJECT SECTION------*/
    .sub-section-alternative {
        padding-top: 30px;
        height: 100vh;
        align-items: center;
    }
   
    .project-container {
        width: 100%;
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    
    /*-----Contact SECTION--------*/
    .footer-container{
        padding: 40px;
        margin: auto;
    }
}

@media only screen and (max-width: 400px){ 
    nav{
        display:none;
    }
    .hero-text h1{
        font-size: 55px;
    }
    .title{
        font-size: 20px;
        font-weight: 500;
    }
    .intro-p{
        font-size: 
    }
    /*--------ABOUT ME SECTION--------*/
    .sub-section {
        flex-wrap: wrap;
        padding: 100px 30px;
        height: 100vh;
        text-align: left;
        height: auto;
    }
}