@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 10px;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    box-sizing: border-box; 
}

:root{
    --primary-color:white;
    --sub-primary-color: rgb(198, 198, 198);
    --secondary-color: rgb(241, 96, 44);
    --secondary-darker: rgb(205, 86, 42) ;
    --var-bg-color: rgb(2, 0, 36);
    --subheading-size: 50px;
    
    --text-shadow: 0px 4px 5px #000000;

    --transition-speed: 200ms ease-out;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-color: var(--var-bg-color);
    background-image: url(images/bg-texture.png); */
    scroll-behavior: smooth;
    /* background-color: #000929; */
    background-color: #0f0026;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2306006b' fill-opacity='0.57' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

section {
    display:block;
    width: 100vw;
    padding: 0px 100px 100px;
}

.hero{
    position: relative;
    background-blend-mode: darken;
    height: 110vh;
    width: 100%;
    padding-top: 100px;
}

.bg-bridge{
    background: rgba(0, 0, 0, 0.2)url(images/bgnew.jpg) no-repeat top center/cover fixed;
    background-blend-mode: darken;
}

.bg-city{
    background: rgba(0, 0, 0, 0.2)url(images/citybg.jpg) no-repeat top -30px center/cover fixed;
    background-blend-mode: darken;
}

.bg-mountain{
    background: rgba(0, 0, 0, 0.2)url(images/mountainbg.jpg) no-repeat top center/cover fixed;
    background-blend-mode: darken;
}

.header-subtext{
    line-height: 0px;
}

nav {
    font-size: 20px;
    width: 100vw;
    height: 55px;
    /* background-color: rgba(0, 0, 0, 0.797);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='grey' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */
    position: fixed;
    z-index: 10;
    padding: 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-speed);
    /* backdrop-filter: blur(5px); */

}  
/* nav class on scroll using javascript  */
nav.scroll{
    background-color: rgba(0, 0, 0, 0.797);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='grey' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    backdrop-filter: blur(5px);
    color: blue;
}

a{
    color:var(--sub-primary-color)
}
.logo-container{
    font-weight: 500;
    font-size: 25px;
    /* display: none; */
    letter-spacing: 3px;
    
}

.logo-container a{
    text-align: left;
    transition: var(--transition-speed);
}

.logo-container a:hover{
    color: var(--primary-color);
    
}

.logo{
    height: 50px;
    width: auto;
    /* outline: 2px solid red; */
} 

ul {
    display: flex;
    justify-content: space-between;
     /* outline: 2px solid red;  */
}

li {
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-speed);
    margin-left: 80px;
}

ul li a:hover, ul li a:focus{
    color: var(--primary-color);
    /* text-shadow: var(--text-shadow); */
}
/*-----SCROLLBAR--------*/

::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sub-primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(92, 92, 92);
}

.header-subtext{
    color: var(--secondary-color);
    text-align: left;
}

center{
    text-align: center;
}

/* ANIMATIONS */

h1 {
    font-size: 90px;
    margin: 0;
    color: var(--primary-color);
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.726);
    flex-shrink: 1;
}

h2 {
    font-size: 50px;
    color: var(--primary-color);
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}
span{
    color: var(--secondary-color);
}

.title{
    line-height: 5px;
    padding: 0px;
    margin-top: 0px;    
    font-size: 32px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.704);
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto; 
}

.hero-prompts{
    display: flex;
    justify-content: left;
    margin-top: 40px;
}

.button {
    padding: 8px 16px 8px 16px;
    /* padding-left: 10px;
    padding-right: 10px; */
    height: 55px;
    border-radius: 15px;
    /* background-color: var(--secondary-color); */
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    /* padding-top: 5px; */
    margin-top: 20px;
    border: 3.5px solid var(--secondary-color);
    overflow: hidden;
    transition: var(--transition-speed);
    backdrop-filter: blur(3px); 
    font-style: none;
    cursor: pointer;
    transform: scale(.9) translateX(-9px);
    color: var(--primary-color);

}

.button img{
    margin-left: 5px;
}





#resume{
    background-color: var(--secondary-color);
}
button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
  }
  
.wide-button{
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.137);
}

.button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-1000%, 0, 0) rotate(35deg);
  }
  
.button:hover::after {
transition: transform 0.45s ease-in-out;
transform: translate3d(200%, 0, 0) rotate(35deg);
}

.button:hover {
    box-shadow: -5px 5px 8px 1px rgba(0, 0, 0, 0.352);
    backdrop-filter: blur(0px);
    background-color: var(--secondary-color);
}

.button a{
    color: var(--primary-color);
}
.button:active{
    background-color: var(--secondary-darker);
    border: 3.5px solid var(--secondary-darker);
}

.socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    margin-right: 35px;

}

.socials img{
    fill: var(--sub-primary-color);
    height: 40px;
    width: 40px;
    transition: var(--transition-speed);
    
}


/*------------ABOUT ME SECTION--------------*/
.sub-section {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    padding-top: 10vh;
    flex-grow: 1;
    /* outline: white 3px solid; */
}

.headshot-container{
    position: relative;
    /* mheight: 600px;
    width: 600px; */
    display: flex;
    align-self: flex-end;
    margin-right: 7rem;
    flex: 1 1 auto;
    border-radius: 25px;
    padding-bottom: 40px;
    
}

.headshot {
    object-fit: cover;
    width: 350px;
    height: 480px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.473);
    transition: var(--transition-speed);
}

.information{
    min-width: 300px;
    padding-right: 70px;
}

.headshot:hover {
    filter: var(--secondary-color);
    /* filter: brightness(100%); */
    
}

.information h2 {
    line-height: 30px;
    text-align: left;
}

.skills{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
   width: 100%;
   /* outline: red 1px solid; */

}
.skills img{
    object-fit: cover;
    height: 40px;
    width: auto;
}
.skills div{
    
}
.skills div p{
    /* padding: 15px 60px 15px 60px; */
    transition: var(--transition-speed);
    color: var(--primary-color);
    font-weight: 300;
    font-size: 15px;
}
.skills div:hover .skills>div>p{
    color: var(--primary-color)
}


h3{
    font-size: 20px;
    color: var(--secondary-color);
}
.main-text{
    line-height: 4rem;
    font-size: 20px;
    font-weight: 350;
    text-align: left;
    color: var(--sub-primary-color)
}

.divider{
    height: 3px;
    background-color: var(--sub-primary-color);
    border: none;
    border-radius: 5px;
    width: auto;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 100px;
    /* outline: red 1px solid; */
    height: auto;
    /* outline: 2px solid red; */
}

.sub-section-alternative h2 {
    font-size: var(--subheading-size);
    line-height: 15px;
    text-align: left;

}

hr{
    width:100%;
    height: 3px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    /* border-bottom: 2px solid white; */
    margin: 0;
  
    /* padding-bottom: 100px; */
}

.project-container::-webkit-scrollbar-track {
    display: none;
  }

::-webkit-scrollbar-thumb {
    background-color: var(--sub-primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#website-project{
    order: 4;
}

#zoom-project{
    order: 2;
}

#ebay-project{
    order: 1;
}

#-project{
    order: 9;
}

.project-card {
    width: 600px;
    height: 426px;
    margin-top: 30px;
    border-radius: 25px 25px 25px 25px;
    transition: var(--transition-speed);
    overflow-y: hidden;
    margin-bottom: 40px;
    color: var(--sub-primary-color);
    background-color: black;
    overflow: hidden;
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.272);
    
}

.project-card:hover{
    box-shadow: 0px 0px 12px 2px var(--secondary-color);
    transform: scale(1.05);
    color: var(--primary-color);
    /* background-color: var(--secondary-darker); */
} 

.project-card:hover .project-image{
    filter: brightness(100%);
}
.description-container{
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='grey' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    height: 130px;
    padding: 15px;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: hidden;
    transition: var(--transition-speed);

}

.project-title{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 3rem;
    color:var(--secondary-color)
}

.description-container .main-text{
    line-height: 3rem;
    font-size: 15px;
    text-align: center;
}

.image-conatiner{
    width: 100%;
    transition: var(--transition-speed);
}

.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    transition: var(--transition-speed);
    filter: brightness(80%);
}

.odd{
    width: 94.5%;
    /* padding-left: 15px;
    padding-right: 15px; */
}
.subtext {
    font-size: 15px;
    font-weight: 300px;
}



/*------------FOOTER/CONTACT SECTION--------------*/
    
footer {
    display:block;
    height:auto;
    padding: 20px 100px ;
    /* outline: red 2px solid; */
    background: url(images/contact-bg.jpg) no-repeat center center/cover fixed;
    overflow: hidden;
    /* outline: 2px rgb(17, 0, 255) solid; */
}
.footer-container{
    height: auto;
    text-align: left;
    /* outline: yellow 2px solid; */
    width:55vw;
    float: left;
    /* outline: 2px solid red; */
    
}
footer a{
    color: var(--secondary-color);
}

footer h2{
    color: var(--primary-color);
    line-height: 0;
}

footer .main-text{
    color: var(--sub-primary-color);
}

.footer-button{
    height: 50px;
    width: 400px;
    text-align: center;
    border-radius: 14px;
    background-color: transparent;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    border: 3px solid var(--secondary-color);
    overflow: hidden;
    transition: var(--transition-speed);
    font-style: none;
    display:none;
    
}

.footer-button:hover{
    background-color: var(--secondary-color);
    border: 3px solid transparent;
    cursor: pointer;
}

.footer-button:active{
    background-color: var(--secondary-darker);
    border: 3px solid transparent;
}

.footer-socials{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    display: none;
}



@media only screen and (max-width: 1000px){ 
    section {
        padding: 0 10px 0px 10px;
        overflow: hidden;
    }

    .hero-area {
        height: 100%;
        align-items: center;
        text-align: center;
        flex-shrink: 1; 
    }

    .header-subtext{
        text-align: center;
    }
    
    .hero-text{
        margin: auto;
        flex-basis: 100%;
        
    }
    .hero-text h1{
        font-size: 90px;
        line-height: auto;
    }
    .nav{
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #nav-list{
        display: none;
    }
    .logo-container{
        text-align:center;
    }

    .hero-prompts{
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 30px

    }

    .information p{
        color: var(--sub-primary-color);
        line-height: 50px;
        font-size: 25px;
    }
    .title{
        font-size: 30px;
        font-weight: 300px;
        padding-bottom: 40px;
        white-space: nowrap ;
    }

    .button{
        margin: auto;
        width: 400px;;

    }
    .socials{
        display: none;
    }
 /*--------ABOUT ME SECTION--------*/
    .sub-section {
        flex-direction: column;
        height: 200vh;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .sub-section h2{
        text-align: center;
        line-height: 0px;
    }

    .information{
        /* flex-basis: 100%; */
        text-align: center;
        order: 1;
        justify-self: center;
        max-width: none;
        padding-right: unset;
    }

    .information p{
        max-width: none;
        font-size: 16px;
        line-height: 3rem;        
    }

    .headshot-container{
        order: 0;
        all: unset;
        transform: none;
        margin: 0;
        
        transform: translateX(-10px)
    }
    .headshot{
        border-radius: 50px;
        height: 300px;
        width: 300px;
        transform: none;
    }

    
    
    /*-----PROJECT SECTION------*/
    .sub-section-alternative {
        height: auto;
        align-items: center;
    }

    .sub-section-alternative h2{
        white-space: nowrap ;
    }

   .sub-section-alternative hr{
        width: 100vw;
        align-self: center;
        justify-self: center;
        margin: auto;
   }

    .project-container {
        flex-direction: column;
        flex-shrink: 1;
    }

    
    /*-----Contact SECTION--------*/
    footer{
        display:none;
    }
    .footer-container{
        padding: 30px;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .footer-container h2{
        white-space: nowrap ;
    }

    .footer-container p{
        text-align: center;
        width: 100%;
        float: none;
        padding: none;
        width: 80vw;
    }
    
}
